make-blueprint-list-members.json
{
  "name": "Rav Messer - Get List Members",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "data": { "editable": "true" },
              "label": "Get List Members Webhook"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://YOUR_RAV_MESSER_API_ENDPOINT",
        "serializeUrl": false,
        "method": "get",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_API_KEY"
          }
        ],
        "qs": [
          {
            "name": "list_id",
            "value": "{{1.list_id}}"
          },
          {
            "name": "limit",
            "value": "5"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "expect": {
            "method": { "label": "GET" },
            "bodyType": { "label": "Raw" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": "200",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Access-Control-Allow-Origin",
            "value": "*"
          }
        ],
        "body": "{ \"count\": {{2.data.total}}, \"samples\": {{toString(map(slice(2.data.contacts; 0; 5); \"name\"))}} }"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com"
  }
}
